<table border="1">
	<thead>
		<tr>
			<th style="width: 200px">name</th>
			<th style="width: 600px">role</th>
		</tr>
	</thead>
	<tr>
		<td>สิทธิ์ 1</td>
		<td>
			<div style="display: inline-block; min-width: 150px;">
				<labe>
					<input type="checkbox"> Admin
				</labe>
			</div>

			<div style="display: inline-block; min-width: 150px;">
				<labe>
					<input type="checkbox"> Admin
				</labe>
			</div>
			<div style="display: inline-block; min-width: 150px;">
				<labe>
					<input type="checkbox"> Admin
				</labe>
			</div>
			<div style="display: inline-block; min-width: 150px;">
				<labe>
					<input type="checkbox"> Admin
				</labe>
			</div>
			<div style="display: inline-block; min-width: 150px;">
				<labe>
					<input type="checkbox"> Admin
				</labe>
			</div>
			<div style="display: inline-block; min-width: 150px;">
				<labe>
					<input type="checkbox"> Admin
				</labe>
			</div>
			<div style="display: inline-block; min-width: 150px;">
				<labe>
					<input type="checkbox"> Admin
				</labe>
			</div>
			<div style="display: inline-block; min-width: 150px;">
				<labe>
					<input type="checkbox"> Admin
				</labe>
			</div>
			<div style="display: inline-block; min-width: 150px;">
				<labe>
					<input type="checkbox"> Admin
				</labe>
			</div>
		</td>
	</tr>
	<tr>
		<td>สิทธิ์ 2</td>
		<td>
			<div style="display: inline-block; min-width: 150px;">
				<labe>
					<input type="checkbox"> Adminesrf
				</labe>
			</div>
			<div style="display: inline-block; min-width: 150px;">
				<labe>
					<input type="checkbox"> Adminfesa
				</labe>
			</div>
			<div style="display: inline-block; min-width: 150px;">
				<labe>
					<input type="checkbox"> Admins
				</labe>
			</div>
		</td>
	</tr>
</table>
